* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF0D8;
  width: 1024px; /* Force the body width to 1024px */
  overflow-x: scroll; /* Allow horizontal scrolling if content exceeds */
  margin: 0 auto; /* Center the content */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.markColumns {
  background-color: #FAF0D8;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: normal;
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: solid 1px black;
}

.markColumns2 {
  background-color: white;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: normal;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: solid 1px black;
}

.marks3 {
  background-color: #FAF0D8;
}

.subjects {
  text-align: left;
}

.rollInputWrapper {
  background-color: #FAF0D8;
}

@media only screen and (max-width: 1024px) {
  html, body {
    width: 1024px; /* Force the body to always be 1024px */
    overflow-x: scroll;
  }
}


.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.minimal-button {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 8px 16px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s ease, color 0.3s ease, border 0.3s ease;
  text-decoration: none;
}

.minimal-button:hover {
  background: #f5f5f5;
  color: #111;
  border-color: #ccc;
}
